In [4]:
a = 1
b = 20# large value
# count = 0
while True:
    # count += 1
    print(a)
    

    a += 1
    
    if a > 15:
        break
    
    if a > 5:
        continue

    print("loop iteration completed")


    
    # if count > 500:
    #     break
print("completed")

1
loop iteration completed
2
loop iteration completed
3
loop iteration completed
4
loop iteration completed
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
completed

In [8]:
string1 = "Hello Python"
string2 = "hello"

# include 
print( string2.upper() in string1.upper() ) # membership

True

In [15]:
list1 = [1, 3, 2, 3, "45"]
list1

[1, 3, 2, 3, '45']

In [16]:
for i in list1: # iteration 
    print(i)

1
3
2
3
45

In [25]:
for i in range(0, len(list1)): # iteration 
    print(f" at index \t { i } \n value is { list1[i]}\n ")

 at index 	 0
 value is 1

 at index 	 1
 value is 3

 at index 	 2
 value is 2

 at index 	 3
 value is 3

 at index 	 4
 value is 45

In [18]:
len(list1)

5

In [28]:
# 10 20
# 30 40

row1 = [ 10, 20 ]
row2 = [ 30, 40 ]

matrix = [ row1, row2 ]
matrix, len(matrix)

([[10, 20], [30, 40]], 2)

In [30]:
matrix[0][0]

10

In [38]:
# print value and id
def showDetails(val):
    print(f"Value is {val} \nid is {id(val)}\n ")

In [39]:
showDetails(list1)

Value is [1, 3, 2, 3, '45']
id is 139745151048704

In [41]:
list1[0] = 1000
showDetails(list1)

Value is [1000, 3, 2, 3, '45', 100]
id is 139745151048704

In [ ]:
list2 = list1